@charset "utf-8";

/* フォント設定  ---------------------------------------- */
h1,h3,h4,p,a{
  font-family: 'IBM Plex Sans JP',sans-serif;

}
header,h2,text,.menu-nav{
  font-family: 'Kanit',sans-serif;
}
/* ---------------------------------------- */

/* Loading背景画面設定　*/
.splash {
  /*fixedで全面に固定*/
    position: fixed;
    width: 100%;
    min-height: 100vh; /* Fallback */
    min-height: calc(var(--vh, 1vh) * 100);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30000;
    background:#ffffff;
    text-align:center;
    color:#fff;
  }
  
  /* Loading画像中央配置　*/
.splash-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* ロゴアイコンの大きさ設定 */
.splash-logo img {
  width: 400px;
  height: auto;
  }
  @media screen and (max-width: 959px){
    .splash-logo img {
      width: 300px;
      }
  }
  @media screen and (max-width: 480px){
    .splash-logo img {
      width: 200px;
      }
  }

.splash-anim{
  animation-name: splashAnime;
  animation-duration:0.2s;
  animation-fill-mode:forwards;
  opacity: 0;
  }
  
  @keyframes splashAnime{
    from {
      opacity: 0;
    transform: translateY(50px);
    }
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }

.splash-bg{
  display: none;
  }

body.appear .splash-bg{
  display: block;
  content: "";
  position:fixed;
  z-index: 999;
  width: 100%;
  min-height: 100vh; /* Fallback */
  min-height: calc(var(--vh, 1vh) * 100);
  top: 0;
  left: 0;
  transform: scaleX(0);
  background-color: #F5D523;/*伸びる背景色の設定*/
	animation-name:PageAnime;
	animation-duration:1s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;

}
@keyframes PageAnime{
	0% {
		transform-origin:left;
		transform:scaleX(0);
	}
	50% {
		transform-origin:left;
		transform:scaleX(1);
	}
	50.001% {
		transform-origin:right;
	}
	100% {
		transform-origin:right;
		transform:scaleX(0);
	}
}
/*画面遷移の後現れるコンテンツ設定*/
.container{
	opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear .container{
	animation-name:PageAnimeAppear;
	animation-duration:0.2s;
	animation-delay: 1s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}
body{
  background-color: #ffffff;
	animation: ChangeColorAnim 1.5s;
  animation-delay: 2s;
}
@keyframes ChangeColorAnim{
	0% {
    background-color: #ffffff;
	}
	50% {
    background-color: #ffffff;
	}
	50.001% {
    background-color: #2B2925
	}
	100% {
    background-color: #2B2925
	}
}

/* ---------------------------------------- */

/* index 背景動画設定 */
.video-area{
  position: fixed;
  z-index: -10;/*最背面に設定*/
  top: 0;
  right:0;
  left:0;
  bottom:0;
  overflow: hidden;
}
.video {
  /*天地中央配置*/
  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*縦横幅指定*/
  width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
  height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
  min-height: 100%;
  min-width: 100%;
}
/* スクロールしたら背景を暗くする */
.video-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  transition: 0.5s;
}
.video-overlay-end{
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: -5;
  background-color:#000000c0;
}
/* ---------------------------------------- */

/* 共通設定 ---------------------------------------- */
.index-main-content{
  width: 100%;
  height: auto;
  /* overflow: hidden; */
}
.index-section{
  width: 100vw;
  min-height: 100vh; /* Fallback */
  min-height: calc(var(--vh, 1vh) * 100);
 }
/* ---------------------------------------- */

/* セクション内共通テキスト ---------------------------------------- */
.index-title{
  width: 600px;
  font-size: 24px;
  font-weight: 500;
  color: #F5D523;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
@media screen and (max-width: 959px){
  .index-title {
    font-size: 24px;
    }
}
@media screen and (max-width: 480px){
  .index-title {
    width: 100%;
    font-size: 16px;
    margin-bottom: 4px;
    }
}
.index-catchcopy h3{
  width: 600px;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
  margin-bottom: 10px;
  z-index: 1;
}
@media screen and (max-width: 959px){
  .index-catchcopy h3 {
    font-size: 24px;
    letter-spacing: 0;
    }
}
@media screen and (max-width: 480px){
  .index-catchcopy h3 {
    width: 90vw;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 6px;
    }
}
.index-catchcopy-en{
  width: 600px;
  height: auto;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ffffff50;
}
@media screen and (max-width: 959px){
  .index-catchcopy-en {
    font-size: 14px;
    }
}
@media screen and (max-width: 480px){
  .index-catchcopy-en {
    width: 90vw;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    }
}
.index-catchcopy-en::before{
  content: "";
  background: #ffffff50;
  height: 1px;
  width: 100%;
}
@media screen and (max-width: 480px){
  .index-catchcopy-en::before {
    width: 90vw;
    }
}
.index-text-title{
  width: 100%;
  letter-spacing: 2px;
  line-height: 40px;
  font-size: 20px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff50;
}
.button-more{
  margin-top: 10px;
}
/* セクション内共通テキスト ---------------------------------------- */

/* top   ---------------------------------------- */
.index-top-content{
  position: relative;
  width: 100%;
  min-height: 100vh; /* Fallback */
  min-height: calc(var(--vh, 1vh) * 100);
  margin: 0 8%;
}
@media screen and (max-width: 959px){
  .index-top-content{
    margin: 0 8%;
    }
}
@media screen and (max-width: 480px){
  .index-top-content{
    margin: 0 16px;
    }
}
.index-top-inview{
  position: absolute;
  width: 100%;
  height: 300px;
  bottom: 0;
  text-align: left;
  margin-top: 200px;
  margin-bottom: 80px;
}
@media screen and (max-width: 959px){
  .index-top-inviewt{
    margin: 80px 0 40px;
    }
}
@media screen and (max-width: 480px){
  .index-top-inview{
    margin: 80px 0 40px;
    }
}
.index-catch-content{
  width: 100%;
}
.index-top-catch h1{
  width: 100%;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 8px;
  z-index: 1;
}
@media screen and (max-width: 959px){
  .index-top-catch h1 {
    font-size: 24px;
    letter-spacing: 0;
    }
}
@media screen and (max-width: 480px){
  .index-top-catch h1 {
    font-size: 18px;
    letter-spacing: 0;
    }
}
.top-catchcopy-yellow{
  color: #F5D523;
}
.index-top-catchcopy-en{
  width: 600px;
  height: auto;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
@media screen and (max-width: 959px){
  .index-top-catchcopy-en {
    font-size: 14px;
    }
}
@media screen and (max-width: 480px){
  .index-top-catchcopy-en {
    font-size: 12px;
    letter-spacing: 1px;
    }
}
/* ---------------------------------------- */

/* creator works partner グリッド設定---------------------------------------- */
.index-grid-content {
  position: relative;
  width: 100%;
  min-height: 100vh; /* Fallback */
  min-height: calc(var(--vh, 1vh) * 100);
}
@media screen and (max-width: 959px){

}
@media screen and (max-width: 480px){
  .index-grid-content{
    width: 100vw;
  }
  .index-partner-section{
    height: 225vh;
  }
  .index-partner-content{
    height: 225vh;
  }
}
.index-grid-inview{
  position: absolute;
  display: grid;
  grid-template-rows: 210px 250px;
  grid-gap: 40px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@media screen and (max-width: 959px){
  /* .index-grid-inview{
    top: 250px;
    } */
}
@media screen and (max-width: 480px){
  .index-grid-inview{
    grid-gap: 5px;
    width: 100%;
    height: auto;
    grid-template-rows: auto;
    }
}

.index-creator-inview{
  grid-template-columns: 600px 840px;
  grid-template-areas:
  "area1 area2"
  "area3 area2";
  margin-top: 40px;
  margin-bottom: 40px;
}
.index-works-inview{
  grid-template-columns: 840px 600px;
  grid-template-areas:
  "area1 area2"
  "area1 area3";
  margin-top: 40px;
  margin-bottom: 40px;
}
.index-creator-inview,.index-partner-inview{
  grid-template-columns: 600px 840px;
  grid-template-areas:
  "area1 area2"
  "area3 area3";
}
  @media screen and (max-width: 959px){
    /* .index-creator-inview{
      height: 60%;
      } */
  }
  @media screen and (max-width: 480px){
    .index-creator-inview,.index-works-inview,.index-partner-inview{
      width: 100%;
      height: auto
      }
    .index-creator-inview{
      grid-template-areas:
        "area1 area1"
        "area2 area2"
        "area3 area3";
      }
    .index-works-inview{
      grid-template-areas:
        "area2 area2"
        "area1 area1"
        "area3 area3";
      }
    .index-partner-inview{
      grid-template-areas:
        "area1 area1"
        "area3 area3";
      }
  }

.index-text-content{
  width: 600px;
  height: 230px;
  grid-row: 1;
  grid-column: 1;
}
@media screen and (max-width: 959px){
  .index-text-content{
    width: 600px;
    }
}
@media screen and (max-width: 480px){
  .index-text-content{
    width: 100%;
    height: auto;
    }
}
.creator-text-content,.partner-text-content{
  grid-area: area1;
}
.works-text-content{
  grid-area: area2;
}

.index-info-content{
  width: 560px;
  height: 230px;
  grid-row: 2;
  grid-column: 1;
  flex-direction: column;
  grid-area: area3;
  border-radius: 10px;
  background: #ffffff20;
  padding: 10px 20px;
}
@media screen and (max-width: 959px){
  .index-info-content{
    width: 600px;
    }
}
@media screen and (max-width: 480px){
  .index-info-content{
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
    }
}

.index-image{
  width: 840px;
  height: 500px;
  grid-row: 1 / 3;
  grid-column: 2;
}
@media screen and (max-width: 959px){
  /* .index-image{
	}	 */
}
@media screen and (max-width: 480px){
  .index-image{
    width: 100%;
    height: auto;
	}	
 }
.creator-image{
  grid-area: area2;
}
.works-image{
  grid-area: area1;
}
.creator-image img,.works-image img{
  width: 840px;
  height: 500px;
  max-width: 100%;
  border-radius: 10px;
}
@media screen and (max-width: 480px){
  .creator-image img,.works-image img{
   width: 100vw;
   min-width: 100vw;
   height: auto;
  }
	}
/* creator works partner グリッド設定  ---------------------------------------- */

/* creator text ---------------------------------------- */
.creator-position{
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
}
.creator-name{
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 2px;
  margin-bottom: 4px;
  border-bottom: 1px solid #ffffff50;
}
.creator-name-en{
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.creator-details-title{
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.creator-details-text{
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}
/* creator text ---------------------------------------- */

/* works text ---------------------------------------- */
.works-title{
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  /* line-height: 26px; */
  letter-spacing: 2px;
  margin-bottom: 8px;
  border-bottom: 1px solid #ffffff50;
}
.works-deta{
  display: flex;
  width: 100%;
  height: auto;
  align-items: baseline;
  margin-bottom: 8px;
}
.works-deta-title{
  width: 15%;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  text-align: start;
  letter-spacing: 2px;
  margin-right: 2%;
}
.works-deta-text{
  width: 60%;
  font-size: 12px;
  color: #ffffff;
  line-height: 18px;
}
.works-creator{
  flex-direction: column;
  width: 100%;
}
.works-creator-title{
  width: 38%;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  text-align: start;
  letter-spacing: 2px;
  margin-right: 2%;
}
.works-creator-name{
  width: 40%;
  font-size: 12px;
  color: #ffffff;
  line-height: 18px;
}
/* ---------------------------------------- */


/* partner text ---------------------------------------- */
.partner-card{
  display: grid;
  grid-template-rows: 350px;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 160px;
  grid-row: 1 / 3;
  grid-column: 2;
  grid-area: area3;
}
@media screen and (max-width: 959px){
  .partner-card{
   margin: 0;
 }	
}
@media screen and (max-width: 480px){
  .partner-card{
    grid-template-rows: 350px 350px 350px 350px;
    grid-template-columns: 250px;
    grid-gap: 20px;
 }	
}
.partner-card-inview{
  display: block;
  width: 250px;
  height: 250px;
}
@media screen and (max-width: 959px){
  .partner-card-inview{
   margin: 0;
 }	
}
@media screen and (max-width: 480px){
  .partner-card-inview{
    height: auto;
    margin: 0;
 }	
}

/* ロゴ画像設定 */
.partner-logo{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;

}
.partner-logo-inview{
  width: 250px;
  height: 250px;
  list-style: none;
}
.partner-logo-inview img{
  width: 190px;
  height: 210px;
  object-fit: contain;
  padding: 20px 30px;
  background: #ffffff;
  border-radius: 10px;
}
.partner-details{
  width: 250px;
  height: 80px;
  margin: 10px 0;

}
.partner-name{
  width: 100%;
  height: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 2px;
  color: #fff;
  border-bottom: 1px solid #ffffff50;
  margin-bottom: 5px;

}
.partner-details-text{
  width: 100%;
  height: auto;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
}

/* partner text ---------------------------------------- */


/* 社名スクロールアニメーション*/
.label-loop{
  position: fixed;
  width: 100%;
  height: 100px;
  top: 88%;
}
/* 表示領域 */
.label-loop-inview{
  width: 100%;
  height: 100px;
  overflow: visible;
}  
/* アウトライン設定 */
.label-loop-text{
  font-size: 8.75rem;
  fill: rgba(255, 255, 255, 100);
  fill-opacity: 0;
  stroke: #ffffff50;
  stroke-width: 0.5;
  stroke-linejoin: round;
  animation : labelscroll 60s linear infinite;
}
@keyframes labelscroll{
  0% { transform: translateX(0)}
  100% { transform: translateX(-100%)}
}
@media screen and (max-width: 959px){
  
}
@media screen and (max-width: 480px){
  .label-loop{
    top: 87%;
 }
  .label-loop-text{
    font-size: 110px;
 }
}
/* ---------------------------------------- */

